body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.login-container {
  background-image: url("../../../assets/17c6cce3-4393-4d88-bd35-8082ea8d0af1.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
